* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #22254b;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3.5%;
  background-color: #070922;
  position: fixed;
  top: 0;
  z-index: 9;
}

nav ul {
  display: flex;
}

nav ul li {
  margin: 0 2rem;
}

nav ul li a {
  color: #fff;
}

.auth_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.username {
  padding: 8px 12px;
  border-radius: 50%;
  background-color: #373b69;
}

.auth_btn button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: #22254b;
  color: #fff;
  cursor: pointer;
  margin: 0 0 0 20px;
}

.menu_btn svg {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.mobile_nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 250px;
  position: fixed;
  top: 50px;
  right: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px 3px 5px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.mobile_nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.mobile_nav li {
  margin: 0.7rem 0;
}

.mobile_auth_btn {
  margin: 1rem 0;
}

.mobile_nav a {
  color: #22254b;
}

header {
  display: flex;
  justify-content: center;
}

header form {
  max-width: 350px;
  width: 100%;
  display: flex;
  height: 40px;
  margin: 150px 20px 3rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

header form input {
  width: 85%;
  outline: none;
  border: 1px solid transparent;
  padding: 0 0 0 10px;
}

header form button {
  width: 15%;
  outline: none;
  border: 1px solid transparent;
  background-color: #373b69;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

header form button svg {
  width: 24px;
  height: 24px;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 300px;
  margin: 1rem;
  border-radius: 5px;
  /* box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.movie img {
  width: 100%;
  display: block;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.movie_overview {
  max-height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(37, 37, 37);
  color: #fff;
  padding: 1rem;
  transform: translateY(102%);
  transition: 0.3s ease-in-out;
  overflow-y: auto;
}

.scroll::-webkit-scrollbar {
  width: 5px;
}
.scroll::-webkit-scrollbar-track {
  background-color: #3a3939;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: #585858;
}

.movie:hover .movie_overview {
  transform: translateY(0%);
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  /* top: 98px; */
  top: 0;
  z-index: 8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close_modal {
  position: absolute;
  color: #fff;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: 3px;
}

.close_modal svg {
  width: 30px;
  height: 30px;
  color: #585858;
}

.modal_movie {
  max-width: 400px;
  width: 100%;
  background-color: #252525;
  box-shadow: 5px 5px 15px rgb(0, 0, 0);
  padding: 0.7rem;
  border-radius: 8px;
  position: relative;
}

.modal_movie-secI {
  display: flex;
  justify-content: space-between;
}

.modal_movie-secI img {
  width: 45%;
  border-radius: 8px;
  display: block;
}

.desc {
  width: 50%;
}

.desc p {
  max-height: 150px;
  overflow: auto;
  padding: 0 5px 0 0;
}

.desc h3 {
  margin: 0 0 7px 0;
  width: 80%;
}

.desc span {
  display: block;
  margin: 0 0 10px 0;
}

.modal_movie-secII {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.modal_movie-secII span {
  height: 50px;
  cursor: pointer;
}

.modal_movie-secII .span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #a8a7a7;
}

.span svg {
  color: #fff;
  margin: 0 0 3px;
}

.span {
  width: 30%;
  padding: 5px;
  font-size: 14px;
}

.play {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #252525;
  border-radius: 5px;
}

.play svg {
  margin: 0 8px 0 0;
}

.modal_movie-secII span svg {
  width: 24px;
  height: 24px;
}

.modal_movie-secIII {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e2d2d;
  border-radius: 5px;
  cursor: pointer;
}

.modal_movie-secIII:hover {
  background-color: #3a3939;
}

.add_to_mylist {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

.add_to_mylist svg {
  width: 24px;
  height: 24px;
  color: #fff;
  margin: 0 0 0 10px;
}

.my_list {
  margin-top: 100px;
}

.my_list h2 {
  text-align: center;
  margin: 0 0 30px 0;
}

.my_list_movies {
  display: flex;
  flex-wrap: wrap;
  padding: 0 3%;
}

.list_movie {
  max-width: 200px;
  background-color: #373b69;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.list_movie img {
  border-radius: 0;
}

.actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5%;
}

.actions span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4% 10%;
  transition: 0.2s ease-in-out;
}

.actions svg {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.actions span:hover {
  background-color: #40446d;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.back_btn {
  position: fixed;
  top: 105px;
  left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.back_btn svg {
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
}

.auth-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 90%;
  max-width: 500px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container h1 {
  margin-bottom: 20px;
  color: #fff;
}

.auth-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.auth-form input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 10px;
  outline: none;
  border: 2px solid rgb(177, 177, 177);
  padding-left: 15px;
}

.auth-form button {
  height: 40px;
  width: 200px;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 10px;
  border: 1px transparent;
  cursor: pointer;
  background-color: rgb(6, 87, 163);
  color: #fff;
}

.form-container span button {
  background: none;
  border: none;
  outline: none;
  color: rgb(6, 87, 163);
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .movie {
    width: 250px;
  }
}

@media (max-width: 867px) {
  nav {
    padding: 1rem 30px;
  }
  .movie {
    width: 200px;
  }

  .movie_overview {
    display: none;
  }
}

@media (max-width: 463px) {
  .movie {
    width: 150px;
  }
}

@media (max-width: 363px) {
  .movie {
    width: 120px;
  }
}
